.PopupColorPicker {
  margin: 0;
  padding: 0;
}

.ColorInputWrapper {
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  background-color: #8D0D8F;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "."
  "title"
  "picker";
  justify-items: center;
  cursor: pointer;
}

.ColorPickerTitle {
  grid-area: title;
  color: white;
  font-family: Skranji;
  font-size: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.ColorInput {
  grid-area: picker;
  visibility: hidden;
}