.button {
	width: 96px;
	height: 96px;
	padding: 0;
	box-sizing: border-box;

	border-style: none;
	border-radius: 10px;
	background-color: #625959;
  color: white;
  font-family: Skranji;
  font-size: 26px;
}
.button_type_add-image {
	background-image: url('../../images/heart-1-icon.png');
}
/* .button_type_add-text {
}
.button_type_upload {
} */
