@font-face {
	font-family: 'Skranji';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Skranji-Regular.ttf") format('ttf');
}

.header {
	margin: 30px 0 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header__title {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 64px;
	color: #8d0d8f;
	font-family: 'Skranji';
}
