.Main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
}
.button-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
