.Main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	position: relative;
}
.button-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.page-wrapper {
	width: 600px;
}
