.logo {
	background-image: url('../../images/code_jam_logo\ \(1\).svg');
	height: 120px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	position: fixed;
	top: 10px;
	left: 10px;
}
