.logo {
	background-image: url('../../images/code_jam_logo\ \(1\).svg');
	height: 260px;
	width: 180px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	position: absolute;
	top: -20px;
	left: -200px;
}
