@font-face {
<<<<<<< HEAD
	font-family: 'Skranji';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./Skranji-Regular.ttf") format('ttf');
}

/* @font-face {
	font-family: 'Skranji', cursive;
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src: url("./Skranji-Bold.ttf");
} */
=======
    font-family: 'Skranji';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Skranji-Regular.ttf');
}

  @font-face {
  font-family: 'Skranji';
  font-style:  bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Skranji-Bold.ttf");
}
>>>>>>> 0513a751176f7271a0184e95bc3c66f6964435df
