.card {
	height: 500px;
	width: 340px;
	margin: 0;
	background-color: #EDDBF0;
	border-radius: 10px;

	background-position: center;
}

@media screen and (max-width: 999px) {
  .card {
    width: 360px;
  }
}
