.card {
	height: 500px;
	width: 340px;
	margin: 0;
	background-color: #eddbf0;
	border-radius: 10px;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(3, 1fr);
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 999px) {
	.card {
		width: 360px;
	}
}
