.card {
	height: 500px;
	width: 340px;
	margin: 0;
	background-color: #eddbf0;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 999px) {
	.card {
		width: 360px;
	}
}
